<!DOCTYPE html>
<html lang="en">
    <head>
        <title>My Profile</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet" media="screen">
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
        <!--CSS -->
        <link rel="stylesheet" type="text/css" href="profile.css">
    </head>
    <body>
       <!-- <script src="http://code.jquery.com/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>-->
        <div id="topnav">
            <table class="mainhead">
                <tr>
                    <td id="name"> <%= current_user.email%></td>
                    <td>
                        <i class="icon-circle-arrow-right icon-3x"></i>
                    </td>
                </tr>
            </table>
        </div>
        
        <ul>
            <li style="margin-left:150px">
	<a href="#">
				<h2>Wish List</h2>
                <% current_user.categories.each do |category| %>
				<tr>
					<li> <%= category.name%> </li>
				</tr>
				<% end%>
				</a>
            <li style="margin-left:100px; margin-top:100px">
                <a href="#">
                    <h2>Giving List</h2>
                    <% current_user.items.each do |item| %>
						<li> <%= item.name%> </li>
						<li> <%= item.description%> </li>
					<% end%>
                </a>
            </li>
        </ul>
       
        </div>
    </body>
</html>